body{
  margin:0;
  padding:0;
  background-color:#000;
}
section{
  text-align: center;
}
button{
  width:100px;
  height:50px;
  background-color:#000;
  color:#fff;
  border:none;
  border-radius:5px;
  font-size:20px;
  font-weight:bold;
  cursor:pointer;
}
button:hover{
  background-color:#fff;
  color:#000;
}
input{
  width:400px;
  height:50px;
  background-color:#000;
  color:#fff;
  border:none;
  border-radius:5px;
  font-size:20px;
  font-weight:bold;
  cursor:pointer;
  padding:15px;
  outline:none;
}
h1{
  color:#fff;
  font-size:50px;
  font-weight:bold;
  padding: 0 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media  screen and (max-width: 768px) {
  h1{
    font-size:30px;
  }
  input{
    width:300px;
  }
  button{
    width:80px;
    height:40px;
    font-size:15px;
  }
}
@media screen and (max-width: 425px) {
  h1{
    font-size:20px;
  }
  input{
    width:200px;
  }
  button{
    width:60px;
    height:30px;
    font-size:10px;
  }
}
    
